<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/json.css">
</head>
<body>
    <script src="../hello/genarate.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- 

    <input type="button" value="Generate Bill" onclick="Genatare()">
    
    <input type="date" id="st_date" >
    <input type="date" id="end_date" > -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
         
      
          <!-- Icon -->
          
            
      
          <!-- Login Form -->
         
            <label><U>Start Date:</U></label><br>
            <input type="date" id="st_date" placeholder="Starting Date"><br>
            <label><U>End Date:</U></label><br>
            <input type="date" id="end_date" placeholder="Ending Date" >
            <input type="button" value="Generate Bill" onclick="Genatare()">
        
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
      </div>
</body>
</html>